.search__bar {
    padding: 0.5rem 1rem;
    border-radius: 50px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    width: 100%;
    margin-top: 50px;
}

.total{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .form__group {
    display: flex;
    flex-direction: column;
    align-items: start;
} */

.form__group span {
    font-size: 1.8rem;
    color: #ee6e6e;
}

.form__group h6 {
    margin-bottom: 0.2rem;
    font-size: 1rem;
    color: var(--heading-color);
}

.form__group input {
    border: none;
    font-size: 0.9rem;
    color: var(--heading-color);
    padding: 0.3rem 0;
}

.form__group input:focus {
    outline: none;
}

.search__icon i {
    font-size: 1.6rem;
    padding: 0.5rem;
    background: var(--secondary-color);
    color: #fff;
    border-radius: 10px 5px 10px 5px;
    cursor: pointer;
}

.form__group-fast {
    border-right: 2px solid #ddd;
    padding-right: 1rem;
}
